## Data Encoding

1. Nomimal/OHE Encoding
2. Label and Ordinal Encoding
3. Target Guided Ordinal Encoding

### Nominal/OHE Encoding

One Hot Encoding is a technique used to represent categorical data as a numerical data, which is more suitable for machine learning algorithms. In this technique, each category is represented as a binary vector where each bit corressponds to a unique category.

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

In [5]:
## Sparse Matrix --->

In [6]:
## Creating a DataFrame
df = pd.DataFrame({
    'color' : ['red', 'blue', 'green', 'green', 'red', 'blue']
})

In [7]:
df.head()

   color
0    red
1   blue
2  green
3  green
4    red

In [8]:
## Create an Instance of OneHotEncoder
ohe = OneHotEncoder()

In [9]:
## Performing Fit and Transform
df_ohe = ohe.fit_transform(df[['color']]).toarray()

In [10]:
df_new = pd.DataFrame(df_ohe, columns= ohe.get_feature_names_out())

In [11]:
df_new

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0

In [12]:
pd.concat([df, df_new], axis = 1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3  green         0.0          1.0        0.0
4    red         0.0          0.0        1.0
5   blue         1.0          0.0        0.0

## Tips Dataset of Seaborn

In [13]:
import seaborn as sns

In [14]:
df = sns.load_dataset('tips')

In [15]:
df.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [16]:
df_ohe = ohe.fit_transform(df[['smoker']]).toarray()

In [18]:
df_new = pd.DataFrame(df_ohe, columns= ohe.get_feature_names_out())
df_new

     smoker_No  smoker_Yes
0          1.0         0.0
1          1.0         0.0
2          1.0         0.0
3          1.0         0.0
4          1.0         0.0
..         ...         ...
239        1.0         0.0
240        0.0         1.0
241        0.0         1.0
242        1.0         0.0
243        1.0         0.0

[244 rows x 2 columns]

In [19]:
pd.concat([df, df_new], axis= 1)

,total_bill,tip,sex,smoker,day,time,size,smoker_No,smoker_Yes
0,16.99,1.01,Female,No,Sun,Dinner,2,1.0,0.0
1,10.34,1.66,Male,No,Sun,Dinner,3,1.0,0.0
2,21.01,3.50,Male,No,Sun,Dinner,3,1.0,0.0
3,23.68,3.31,Male,No,Sun,Dinner,2,1.0,0.0
4,24.59,3.61,Female,No,Sun,Dinner,4,1.0,0.0
...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,1.0,0.0
240,27.18,2.00,Female,Yes,Sat,Dinner,2,0.0,1.0
241,22.67,2.00,Male,Yes,Sat,Dinner,2,0.0,1.0
242,17.82,1.75,Male,No,Sat,Dinner,2,1.0,0.0
243,18.78,3.00,Female,No,Thur,Dinner,2,1.0,0.0