## Handling Imbalanced Dataset

1.) UP Sampling

2.) DOWN Sampling

In [1]:
import numpy as np
import pandas as pd
from sklearn.utils import resample

In [ ]:
np.random.seed(23)

## Create a dataframe with two class
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)       ## 900
n_class_1 = n_samples - n_class_0                ## 100

In [3]:
n_class_0, n_class_1

(900, 100)

In [ ]:
## Creating my DataFrame with Imbalanced Dataset
## loc = 0 means it has a mean value 0 and
## scale = 1 means standard devaition 1
class_0 = pd.DataFrame({
    "Feature_1" : np.random.normal(loc = 0, scale = 1, size = n_class_0),
    "Feature_2" : np.random.normal(loc = 0, scale = 1, size = n_class_0),
    "Target" : [0] * n_class_0
})

class_1 = pd.DataFrame({
    "Feature_1" : np.random.normal(loc = 0, scale = 1, size = n_class_1),
    "Feature_2" : np.random.normal(loc = 0, scale = 1, size = n_class_1),
    "Target" : [1] * n_class_1
})

In [5]:
df = pd.concat([class_0, class_1]).reset_index(drop = True)
df.head()

   Feature_1  Feature_2  Target
0   0.666988   0.069422       0
1   0.025813  -0.471346       0
2  -0.777619  -0.109680       0
3   0.948634   1.278559       0
4   0.701672  -0.280466       0

In [6]:
df.tail()

     Feature_1  Feature_2  Target
995  -0.511538  -0.713981       1
996  -0.729483  -0.481764       1
997   1.103961   0.015668       1
998   1.163394   0.172105       1
999   2.044386   0.103885       1

In [7]:
df['Target'].value_counts()

Target
0    900
1    100
Name: count, dtype: int64

### Up Sampling

In [8]:
df_minority = df[df['Target'] == 1]
df_majority = df[df['Target'] == 0]

In [9]:
df_minority_upsampled = resample(df_minority, replace=True,    ## Sample with replacement
         n_samples= len(df_majority),
         random_state= 45)

In [10]:
df_minority_upsampled.shape

(900, 3)

In [11]:
df_minority_upsampled.head()

     Feature_1  Feature_2  Target
975   1.165529   0.988988       1
930   0.599028   1.071952       1
903   0.073896   1.806233       1
932   0.644690   0.675922       1
995  -0.511538  -0.713981       1

In [12]:
df_upsampled = pd.concat([df_majority, df_minority_upsampled])

In [13]:
df_upsampled['Target'].value_counts()

Target
0    900
1    900
Name: count, dtype: int64

## Down Sampling

In [20]:
np.random.seed(123)

n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'Target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'Target': [1] * n_class_1
})

df = pd.concat([class_0, class_1]).reset_index(drop=True)

print(df['Target'].value_counts())

Target
0    900
1    100
Name: count, dtype: int64

In [21]:
df_minority = df[df['Target'] == 1]
df_majority = df[df['Target'] == 0]

In [22]:
df_majority_downsampled = resample(df_majority, replace=False,    ## Sample with replacement
         n_samples= len(df_minority),
         random_state= 45)

In [23]:
df_majority_downsampled.shape

(100, 3)

In [27]:
df_downsampled = pd.concat([df_minority, df_majority_downsampled])

In [29]:
df_downsampled.Target.value_counts()

Target
1    100
0    100
Name: count, dtype: int64