In [5]:
import numpy as np
import pandas as pd
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

### Insurance Dataset

In [15]:
df = pd.read_csv(r"C:\Users\singh\OneDrive\Desktop\Python\Data\insurance - insurance.csv")
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [7]:
## Checking Missing Values
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [10]:
df['region'].value_counts()

region
southeast    364
southwest    325
northwest    325
northeast    324
Name: count, dtype: int64

In [ ]:
ode_sex = OrdinalEncoder(categories=[['male', 'female']])
ode_smoker = OrdinalEncoder(categories=[['no', 'yes']])
ode_region = OrdinalEncoder(categories=[['southeast', 'southwest', 'northwest', 'northeast']])

df['sex'] = ode_sex.fit_transform(df[['sex']])
df['smoker'] = ode_smoker.fit_transform(df[['smoker']])
df['region'] = ode_region.fit_transform(df[['region']])

In [4]:
x = df.drop(columns= ['charges'])
y = df['charges']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=56)

In [17]:
from sklearn.compose import ColumnTransformer

transfomer = ColumnTransformer(transformers= 
                               [('tnf1', OrdinalEncoder(categories= [['male', 'female']]), ['sex']),
                                ('tnf2', OrdinalEncoder(categories=[['no', 'yes']]), ['smoker']),
                                ('tnf3', OrdinalEncoder(categories=[['southeast', 'southwest', 'northwest', 'northeast']]), ['region'])], 
                                remainder='passthrough')

new_df = transfomer.fit_transform(df)
features = transfomer.get_feature_names_out()

df = pd.DataFrame(new_df, columns=features)
df.head()

,tnf1__sex,tnf2__smoker,tnf3__region,remainder__age,remainder__bmi,remainder__children,remainder__charges
0,1.0,1.0,1.0,19.0,27.900,0.0,16884.92400
1,0.0,0.0,0.0,18.0,33.770,1.0,1725.55230
2,0.0,0.0,0.0,28.0,33.000,3.0,4449.46200
3,0.0,0.0,2.0,33.0,22.705,0.0,21984.47061
4,0.0,0.0,2.0,32.0,28.880,0.0,3866.85520