In [1]:
# Workflow of Machine Learning
## Data Ingestion ---> Data Cleaning and Preprocessing ---> Select ML Model ---->
## Model Training ---> Model Prediction ---> Calculate performance of Model.

In [2]:
## Data Cleanig and Preprocessing ---->
# Data ----> Divided into parts ---> x_train, x_test, y_train, y_test

# 1 + 1 = 2
# 2 + 2 = 4
# 3 + 2 = 5

## Machine (5 + 7) ----> ???   --- Prediction = 13
## 5+7 ---> x_test
## 12 ---> y_test
## 13 ---> y_pred

## Machine (y_pred, y_test)

In [3]:
## How we divide the data???
import pandas as pd

In [5]:
df = pd.read_csv('/content/covid_toy.csv')
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [6]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [7]:
df['fever'] = df['fever'].fillna(df['fever'].mean())

In [10]:
x = df.drop(columns = ['has_covid'])                   ## Input or independent Data
x.shape

(100, 5)

In [11]:
y = df['has_covid']                 ## Target or dependent data
y.shape

(100,)

## **Importing Scikit-Learn**

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
x_train, x_test, y_train, y_test = train_test_split(x,
                                                    y,
                                                    test_size = 0.2,
                                                    random_state=42)

In [14]:
print("Total Data Shape : ", df.shape)
print("--------------------------------")
print("Input Data Shape : ", x.shape)
print("X Train Data Shape : ", x_train.shape)
print("X Test Data Shape : ", x_test.shape)
print("--------------------------------")
print("Target Data Shape : ", y.shape)
print("Y Train Data Shape : ", y_train.shape)
print("Y Test Data Shape : ", y_test.shape)

Total Data Shape :  (100, 6)
--------------------------------
Input Data Shape :  (100, 5)
X Train Data Shape :  (80, 5)
X Test Data Shape :  (20, 5)
--------------------------------
Input Data Shape :  (100,)
Y Train Data Shape :  (80,)
Y Test Data Shape :  (20,)

In [ ]:
df(100,6) = x(100,5) + y(100,1)

## Dividing Another Data

In [16]:
df = pd.read_csv('/content/Customer_Call.xlsx - Call List.csv')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [21]:
df.isnull().sum()

CustomerID           0
First_Name           0
Last_Name            1
Phone_Number         2
Address              0
Paying Customer      0
Do_Not_Contact       4
Not_Useful_Column    0
dtype: int64

In [26]:
df['Phone_Number'] = df['Phone_Number'].fillna('N/A')
df['Do_Not_Contact'] = df['Do_Not_Contact'].fillna('Not Mentioned')

In [27]:
x = df.drop(columns = ['Not_Useful_Column'])
x.shape

(21, 7)

In [28]:
y = df['Not_Useful_Column']
y.shape

(21,)

In [29]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state = 21)

In [30]:
print("Total Data Shape : ", df.shape)
print("--------------------------------")
print("Input Data Shape : ", x.shape)
print("X Train Data Shape : ", x_train.shape)
print("X Test Data Shape : ", x_test.shape)
print("--------------------------------")
print("Target Data Shape : ", y.shape)
print("Y Train Data Shape : ", y_train.shape)
print("Y Test Data Shape : ", y_test.shape)

Total Data Shape :  (21, 8)
--------------------------------
Input Data Shape :  (21, 7)
X Train Data Shape :  (16, 7)
X Test Data Shape :  (5, 7)
--------------------------------
Target Data Shape :  (21,)
Y Train Data Shape :  (16,)
Y Test Data Shape :  (5,)

In [38]:
df = pd.read_csv('/content/titanic - titanic.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [39]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [40]:
df['Age'] = df['Age'].fillna(df['Age'].mean())
df['Cabin'] = df['Cabin'].fillna('Not Mentioned')
df['Fare'] = df['Fare'].fillna(df['Fare'].mean())

In [41]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [42]:
x = df.drop(columns = ['Survived'])
x.shape

(418, 11)

In [43]:
y = df['Survived']
y.shape

(418,)

In [44]:
print("Total Data Shape : ", df.shape)
print("--------------------------------")
print("Input Data Shape : ", x.shape)
print("X Train Data Shape : ", x_train.shape)
print("X Test Data Shape : ", x_test.shape)
print("--------------------------------")
print("Target Data Shape : ", y.shape)
print("Y Train Data Shape : ", y_train.shape)
print("Y Test Data Shape : ", y_test.shape)

Total Data Shape :  (418, 12)
--------------------------------
Input Data Shape :  (418, 11)
X Train Data Shape :  (16, 7)
X Test Data Shape :  (5, 7)
--------------------------------
Target Data Shape :  (418,)
Y Train Data Shape :  (16,)
Y Test Data Shape :  (5,)