In [2]:
import numpy as np
import pandas as pd

import pickle

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [3]:
df = pd.read_csv(r"insurance - insurance.csv")
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
lb = LabelEncoder()
df['sex'] = lb.fit_transform(df['sex'])
df['smoker'] = lb.fit_transform(df['smoker'])
df['region'] = lb.fit_transform(df['region'])

In [5]:
x = df.drop(columns= ['charges'])
y = df['charges']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state=42)

In [6]:
scaler = StandardScaler()
x_train_sc = scaler.fit_transform(x_train)
x_test_sc = scaler.transform(x_test)

In [7]:
x_train = pd.DataFrame(x_train_sc, columns= x_train.columns)
x_test = pd.DataFrame(x_test_sc, columns= x_test.columns)

In [8]:
np.round(x_train.describe(), 2)

           age      sex      bmi  children   smoker   region
count  1070.00  1070.00  1070.00   1070.00  1070.00  1070.00
mean     -0.00    -0.00    -0.00     -0.00     0.00    -0.00
std       1.00     1.00     1.00      1.00     1.00     1.00
min      -1.52    -1.02    -2.42     -0.91    -0.51    -1.35
25%      -0.88    -1.02    -0.72     -0.91    -0.51    -0.46
50%       0.01     0.98    -0.06     -0.09    -0.51     0.44
75%       0.83     0.98     0.65      0.73    -0.51     0.44
max       1.75     0.98     3.74      3.20     1.97     1.34

In [9]:
regressor = LinearRegression()
regressor.fit(x_train, y_train)
y_pred = regressor.predict(x_test)

score = r2_score(y_test, y_pred)
print(score)

0.7833463107364537

In [10]:
pickle.dump(regressor, open('LinearRegression.pkl', 'wb'))

In [11]:
pickle.dump(scaler, open('scaler.pkl', 'wb'))

In [13]:
pickle.dump(lb, open('encoder.pkl', 'wb'))